<!DOCTYPE html>
<html>
	<head>
		<title>SUU Computer Club {% block title %}~ Home{% endblock %}</title>
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	</head>
	<body>
		<div id="topper">
			{% include 'includes/menu.html' %}
		</div>
		<div id="body-container">
			<div id="header">
				<div id="logo">
				</div>
				<!--
				<div id="menu">
					MENU HERE
				</div>
				-->
			</div>
			<div id="content">
				{% block content %}
					<div class="content-block">
						Replace with content or nothing
					</div>
				{% endblock %}
				<div class="content-left">
					{% block content-left %}
						<div class="content-block-small">
							Replace with content or nothing
						</div>
					{% endblock %}
				</div>
				<div class="content-right">
					{% block content-right %}
						<div class="content-block-small">
							Replace with content or nothing
						</div>
					{% endblock %}
				</div>
			</div>
			<div id="footer">
				&copy; SUU Computer Club
				<span style="float: right;"><a href="mailto:suu.computerclub@gmail.com">Contact Us<a/></span>
				<script type="text/javascript">
					var _gaq = _gaq || [];
					_gaq.push(['_setAccount', 'UA-27190279-1']);
					_gaq.push(['_trackPageview']);

					(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
				</script>
			</div>
		</div>
	</body>
</html>
