{% extends 'base.html' %}

{% block content %}
	<div class="content-block">
		<h1 align="center">Frequently Asked Questions</h1><br />
			<h4>What do I have to know about computers to join?</h4>
			<p>
				Nothing! We learn about computers and related
				subjects at the Computer Club. novice to laureate, all are
				welcome.
			</p>
			
			<h4>What do you do at Computer Club?</h4>
			<p>
				We discuss and work on matter related to computers.
				This is vague on purpose. We may design a website, hear from
				a speaker or discuss what is new and exciting in the broad
				field. It is very open so we can keep gain a broad
				understanding of all that falls into our digital world.
			</p>
			<h4>How do I join?</h4>
			<p>
				The requirements a very simple, attend a few
				meetings and want to be a member. Do those two things,
				and you've joined.
			</p>
			<h4>Where do you meet?</h4>
			<p>
				We meet every Tuesday at 4:00pm in ELC 310.
			</p>
			<h4>Who do I contact for more information?</h4>
			<p>
				You can contact us at suu.computerclub@gmail.com
			</p>
			<h4>Do I need to attend every meeting?</h4>
			<p>
				No, though we will hunt you down if you don't. ;-)
			</p>
	</div>
{% endblock %}

{% block content-left %}
{% endblock %}

{% block content-right %}
{% endblock %}
