{% extends 'base.html' %}

{% block content %}
	<div class="content-block">
		<h1 align="center">Welcome to SUU's Computer Club Website!</h1>
	</div>
{% endblock %}

{% block content-left %}
	<div class="content-block-small">
		{# If you use this include make sure your view pulls in the slides #}
		{% include 'includes/slideshow.html' %}
	</div>
{% endblock %}

{% block content-right %}
	<div class="content-block-small">
		<p>
			We meet every <b>Tuesday @ 4p.m.</b> in 
			<a href="http://www.suu.edu/campmap/campus.html"><b>ELC Room 310</b></a>.
			Come see what we are doing this week!
		</p>
	</div>
{% endblock %}
