{% extends 'base.html' %}
{% block title %}~ Projects{% endblock %}
{% block content %}
	<div class="content-block">
		<div align="center">
			<h1>Club Projects</h1>
		</div>
	</div>
{% endblock %}
{% block content-left %}
	<div class="content-block-small">
		<h2>Current Projects</h2>
		<ul>
			<li>
				<a href="http://www.maximumpc.com/article/features/maximum_pc_builds_a_multitouch_surface_computer" target="_blank"><b>Multitouch-surface computer</b></a> (a la Microsoft Surface)
			</li>
			<li>
				<b>Developing and redesigning the club website</b>
				<ul>
					<li>Layout</li>
					<li>Art</li>
					<li>HTML5 compliance</li>
				</ul>
			</li>
		</ul>
	</div>
{% endblock %}
{% block content-right %}
	<div class="content-block-small">
		<h2>On the Drawing Board</h2>
		<ul>
			<li>
				<a href="http://developer.android.com/index.html" target="_blank"><b>Android Mobile App Development</b></a>
			</li>
			<li>
				<a href="http://research.microsoft.com/en-us/um/redmond/projects/kinectsdk/" target="_blank"><b>Kinect Application Development</b></a>
			</li>
		</ul>
	</div>
{% endblock %}

